# Environements
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
tests/__pycache__/

# Flask, Scrapy, Sphinx
instance/
.webassets-cache
.scrapy
docs/_build/
docs/

# Others
.idea/
.DS_Store
__pycache__/
vol/
sphinxdir/
